.containerAddGuest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(224, 222, 222);
    border-right: 1px solid rgb(224, 222, 222);
    cursor: pointer;
}

.containerAddGuest label {
    cursor: pointer;
}

.containerAddGuest-active {
    display: flex;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;

}

.containerAddGuest-active label, .containerAddGuest-active input {
    cursor: pointer;
}

.addGuest-pasive {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 16px;
    overflow: hidden;
    padding: 10px;
}

.addGuest-active {
    border: 1px solid rgb(65, 119, 170);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    padding: 10px;
}
.input-guest {
    line-height: 20px;
    border: none;
    background-color: white
}

.label-guest {
    line-height: 20px;
}

.guestCounter-active {
    margin-top: 10px;
}

.guestCounter-pasive {
    display: none;
}

.counter {
    display: flex;
    align-items: center;
}

.title, .old, .buttonCounter, .valueCounter {
    line-height: 20px;
}

.buttonCounter {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 2px;
}

.buttonCounter:focus {
    outline: none;
}

.buttonCounter:hover {
    background-color: rgb(166, 166, 172);
}

.valueCounter {
    padding: 0 10px;
}

.counterContainer {
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .containerAddGuest-active {
        padding: 10px;
        
    }
    .guestCounter-active {
        height: 120px;
    }
}
@media only screen and (max-width: 500px) {
    .label-guest {
        font-size: 12px;}
}
