@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* card-room */
.room {
    margin: 20px 5px;
}

/* image */
.room-img {
    width: 395px;
    height: 269px;
}

.gambar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

/* room desc */
.room-desc {
    margin: 10px 0;
    display: flex;
    font-family: Montserrat;
    flex-direction: row;
    justify-content: space-between;
}

.desc-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 17px;
}

.super-host {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    width: fit-content;
    border: 1px solid #4F4F4F;
    border-radius: 8px;
    color: #4F4F4F;
    margin-right: 5px;
    font-weight: bold;
}

.type, .beds, .number-ratting {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.beds {
    margin-left: 5px;
}
.room-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    width: 100%;
}

.ratting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    color: red;
    font-size: 14px;
    margin-right: 5px;
}

@media only screen and (max-width: 500px) {
    .room {
        width: 275px;
    }
    .room-img {
        max-width: 275px;
        height: 182px;
    }
    .type, .beds, .number-ratting {
        font-size: 10px;
    }
}

@media only screen and (max-width: 300px) {
    .room {
        width: 200px;
    }
    .room-img {
        max-width: 200px;
        height: 137px;
    }
    .super-host {
        font-size: 8px;
    }
    .type, .beds, .number-ratting {
        font-size: 7px;
    }
    .room-title {
        font-size: 10px;
    }
    .star {
        font-size: 10px;
    }
}