.containerSearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerSearchButton-active {
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.iconSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 16px;
    overflow: hidden;
    padding: 10px;
    line-height: 40px;
    background-color: rgb(235, 230, 230);
    cursor: pointer;
}


.fa-search {
    margin-right: 10px;
}

@media only screen and (max-width: 700px) {
    .containerSearchButton-active {
        width: 200px;
        margin: 0 auto;
    }
}